<div id='blog'>
  <div id='blog-main'>
    <div id=blog-title>
      <h1>
        <%= @blog.title %>    
      </h1>
    </div>
    <div id='blog-details'>
      <%= @blog.author %><br>
      <%= @blog.details %>
    </div>
    <div id='blog-body'>
      <p>
        <%= @blog.body %>
      </p>
    </div>
    <div id='blog-footer'>
      Related tags:
      <% @blog.other_tags.each do |other_tag| %>
        <div id='blog-other-tag'><%= other_tag %></div>
      <% end %>
    </div>
  </div>
</div>
