<!DOCTYPE html>
<html>
  <head>
    <title>MediumCrawler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= form_tag blogs_path do %>
      <%= text_field '', 'tag' %>
      <%= submit_tag( "Submit" ) %>
    <% end %>
    <%= yield %>
  </body>
</html>
